.summary {
  width: 300px;
  float: left;
  margin: 10px;
  background-color: rgba(230, 233, 236, 0.89);
  text-align: center;
  border-radius: 5px;
}

.title {
  background: white;
  color: black;
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
  border-bottom: solid rgb(2, 1, 17) 2px;
  text-shadow: 1px 1px 1px rgb(40, 74, 226);
}

.data-block {
  background: rgb(52, 132, 163);
  padding: 10px;
  margin: 5px;
}

.data-block-title {
  text-shadow: 1px 1px 1px black;
}
