<div style="clear:both"></div>
<div>
  <h2>Data for all Countries.</h2>
  <table border="1">
    <tr>
      <th>
        Country Name
      </th>
      <th>
        New Confirmed
      </th>
      <th>
        Total Confirmed
      </th>
      <th>
        Total Deaths
      </th>
      <th>
        Total Recovered
      </th>
    </tr>
    <tr *ngFor="let data of allCountriesData">
      <td>{{ data.Country }}</td>
      <td>{{ data.NewConfirmed }}</td>
      <td>{{ data.TotalConfirmed }}</td>
      <td>{{ data.TotalDeaths }}</td>
      <td>{{ data.TotalRecovered }}</td>
    </tr>
  </table>
</div>
